<%= form_for(@simulacao, :remote => true, :html=>{:class => "form-inline"}) do |f_simulacao| %>
  <table>
    <tr>
      <td width='250px'>
        <%= f_simulacao.label :total_despesas, :style => 'width:130px;' %>
        <div class="input-prepend"><span class="add-on">R$</span><%= f_simulacao.text_field :total_despesas, :style => 'width:60px;' %>
      </td>
       <td>
           <%= f_simulacao.label :margem_lucro, :style => 'width:130px;' %>
            <div class="input-prepend"><span class="add-on">R$</span><%= f_simulacao.text_field :margem_lucro, :style => 'width:60px;' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f_simulacao.label :total_receitas, :style => 'width:130px;'  %>
        <div class="input-prepend"><span class="add-on">R$</span><%= f_simulacao.text_field :total_receitas,:style => 'width:60px;' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f_simulacao.label :despesas_fixas, :style => 'width:130px;'  %>
        <div class="input-append"><%= f_simulacao.text_field :despesas_fixas ,:style => 'width:60px;' %><span class="add-on">%</span></div>

       
      </td>
    </tr>
  </table>

  
  
  <div class="actions">
    <%= f_simulacao.submit 'salvar',:class => 'btn btn-primary'%>
  </div>
  
<% end %>