<%- model_class = SimulacaoProduto.new.class -%>
<%- 

-%>

<script>
$('#navbar').scrollspy()

$('#precoCompra').keyup(function() {
 alert("Key up detected");
});




</script>


<body data-spy="scroll">





  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">Simulador de Precos</a>
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Simular</a></li>
          <li><a href="#">Ajuda</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="http://www.vpsa.com.br">VPSA</a></li>
        </ul>
       </div>
      </div>
    </header>
  
  <%= render :partial => 'new_simulacao' %>
</body>
<div>
 

</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:preco_compra) %></th>
      <th><%= model_class.human_attribute_name(:icms) %></th>
      <th><%= model_class.human_attribute_name(:ipi) %></th>
      <th><%= model_class.human_attribute_name(:outros_impostos) %></th>
      <th><%= model_class.human_attribute_name(:comissao) %></th>
      <th><%= model_class.human_attribute_name(:frete) %></th>
      <th><%= model_class.human_attribute_name(:outros_custos) %></th>
      <th><%= model_class.human_attribute_name(:preco_calculado) %></th>
      <th><%= model_class.human_attribute_name(:preco_vpsa) %></th>
    </tr>
  </thead>
  <tbody>
    <% @lista_final.each do |produto| %>
     <%= form_for produto, :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
      <div class="control-group"> 
     <tr>
       <td><%= produto["descricao"] %> - <%= produto["produto_vpsa_id"] %></td>
       <td style="white-space:nowrap;"><div class="input-prepend"><span class="add-on">R$</span><%= f.text_field :preco_compra,:id => "precoCompra", :class => 'text_field', :style => 'width:60px;', :onkeyup => "this.value = formatar(event,this);"%></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :icms, :class => 'text_field', :style => 'width:60px;', :onkeyup => "this.value = formatar(event,this);"%><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :ipi, :onkeyup => "this.value = formatar(event,this);" , :class => 'text_field' , :style => 'width:60px;' %><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :outros_impostos, :onkeyup => "this.value = formatar(event,this);", :class => 'text_field', :style => 'width:60px;' %><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :comissao, :onkeyup => "this.value = formatar(event,this);", :class => 'text_field', :style => 'width:60px;' %><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :frete, :onkeyup => "this.value = formatar(event,this);", :class => 'text_field', :style => 'width:60px;' %><span class="add-on">R$</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :outros_custos, :onkeyup => "this.value = formatar(event,this);", :class => 'text_field', :style => 'width:60px;' %><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-prepend"><span class="add-on">R$</span><%= f.text_field :preco_calculado, :class => 'text_field', :style => 'width:60px;' , :disabled=> true%></div>
          <%= f.hidden_field :produto_vpsa_id, :value => produto["produto_vpsa_id"] %>
      </td>
      <td style="white-space:nowrap;"><div class="input-prepend"><span class="add-on">R$</span><%= f.text_field :preco_vpsa, :class => 'text_field', :style => 'width:60px;', :disabled=> true%></div></td>

        <td>
      <div class="form-actions">
	

        <%= f.submit "Salvar", :type => :image, :src => "../assets/images/rails.png" %>
		
      </div>
  </td>

      </tr>
    </div>
     <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_simulacao_produto_path,
            :class => 'btn btn-primary' %>