<%- model_class = SimulacaoProduto.new.class -%>
<%- 

-%>

<script>
$('#navbar').scrollspy()

$('#precoCompra').keyup(function() {
 alert("Key up detected");
});


 function formatar(teclapres, objeto){
var v = objeto.value;	
var tecla = teclapres.keyCode;
var vernegativo = false;
var fazBurley = 0;
var exp;
var casasD = 2;
var separadorDecimal = ",";
var separadorMilhar = ".";

/*if(tecla == Keyboard.SHIFT || tecla == Keyboard.CONTROL)
return;*/

if(objeto.value.indexOf("-") != -1)
{
vernegativo = true;
}
else
{
vernegativo = false;
}
v = v.replace(/\D/g,""); //Fazendo a substituíção de que é Não-Dígito para NADA;
if(v.length > casasD){
var valorEsquerda = v.substr(0,v.length - casasD);
valorEsquerda = parseInt(valorEsquerda).toString();
v = valorEsquerda +  v.substr(v.length - casasD,v.length)
}
if(v.length <= (casasD + 6))
fazBurley = 1;
else
fazBurley = Math.floor((v.length - casasD - 1) / 3);
v = v.substr(0,objeto.maxChars);
exp = new RegExp("(\\d{" + casasD +"}\\b)");
v = v.replace(exp,(separadorDecimal + "$1")); //Encontrando os últimos 2 dígitos e concatenando o separador decimal;
var strExpPonto = "(\\d{1,3})(\\d{3})+";
var strReplace = "";
for(var i=2; i<=fazBurley;i++)
{
strExpPonto = strExpPonto.concat("(.\\d{2})+");
}
for(var i=1; i<=fazBurley;i++)
{
strReplace = strReplace.concat("$" + i.toString() + separadorMilhar);
}
strExpPonto = strExpPonto.concat("(.\\d{2})");
strReplace = strReplace.concat("$" + (fazBurley + 1).toString() + "$" + (fazBurley + 2).toString());
exp = new RegExp(strExpPonto,"gm");
v = v.replace(exp,strReplace);
objeto.value = v; //Retornando o valor para o campo no HTML

if(negativo == true)	
{	
if(tecla == 109 || tecla == 189)
{
objeto.value = objeto.value.replace("-","");
objeto.value = "-"+ objeto.value;
}	
else
{	
if(vernegativo == true)
{
objeto.value = objeto.value.replace("-","");
objeto.value = "-"+ objeto.value;
}
if(tecla == 107 || tecla == 187)
{
objeto.value = objeto.value.replace("-","");
}
}
}
if(/* Utils.parseCurrencyToFloat(super.text) != new Number(0) && */ tecla != Keyboard.TAB)
objeto.setSelection(objeto.value.length,objeto.value.length);
}



</script>


<body data-spy="scroll">
	
	



	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">Simulador de Precos</a>
			 	<ul class="nav">
				 	<li><a href="#">Home</a></li>
				 	<li><a href="#">Simular</a></li>
				 	<li><a href="#">Ajuda</a></li>
				 	<li><a href="#">Sobre</a></li>
				 	<li><a href="http://www.vpsa.com.br">VPSA</a></li>
			 	</ul>
		   </div>
	    </div>
    </header>
  
  <%= render :partial => 'new_simulacao' %>
</body>
<div>
 

</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:preco_compra) %></th>
      <th><%= model_class.human_attribute_name(:icms) %></th>
      <th><%= model_class.human_attribute_name(:ipi) %></th>
      <th><%= model_class.human_attribute_name(:outros_impostos) %></th>
      <th><%= model_class.human_attribute_name(:comissao) %></th>
      <th><%= model_class.human_attribute_name(:frete) %></th>
      <th><%= model_class.human_attribute_name(:outros_custos) %></th>
      <th><%= model_class.human_attribute_name(:preco_calculado) %></th>
      <th><%= model_class.human_attribute_name(:preco_vpsa) %></th>
    </tr>
  </thead>
  <tbody>
    <% @lista_final.each do |produto| %>
     <%= form_for produto, :html => { :class => 'form-horizontal' } do |f| %>
      <div class="control-group"> 
     <tr>
       <td><%= produto["descricao"] %> - <%= produto["produto_vpsa_id"] %></td>
       <td style="white-space:nowrap;"><div class="input-prepend"><span class="add-on">R$</span><%= f.text_field :preco_compra,:id => "precoCompra", :class => 'text_field', :style => 'width:60px;', :onkeyup => "formatar(event,this);", :maxlenght=> 5 %></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :icms, :class => 'text_field', :style => 'width:60px;', :onkeyup => "formatar(event,this);"%><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :ipi, :class => 'text_field' , :style => 'width:60px;', :onkeyup => "formatar(event,this);" %><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :outros_impostos, :class => 'text_field', :style => 'width:60px;', :onkeyup => "formatar(event,this);" %><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :comissao, :class => 'text_field', :style => 'width:60px;', :onkeyup => "formatar(event,this);" %><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :frete, :class => 'text_field', :style => 'width:60px;', :onkeyup => "formatar(event,this);" %><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-append"><%= f.text_field :outros_custos, :class => 'text_field', :style => 'width:60px;', :onkeyup => "formatar(event,this);" %><span class="add-on">%</span></div></td>
        <td style="white-space:nowrap;"><div class="input-prepend"><span class="add-on">R$</span><%= f.text_field :preco_calculado, :class => 'text_field', :style => 'width:60px;' , :disabled=> true%></div>
	        <%= f.hidden_field :produto_vpsa_id, :value => produto["produto_vpsa_id"] %>
	    </td>
	    <td style="white-space:nowrap;"><div class="input-prepend"><span class="add-on">R$</span><%= f.text_field :preco_vpsa, :class => 'text_field', :style => 'width:60px;', :disabled=> true%></div></td>
		
        <td>
		  <div class="form-actions">
		    <%= f.submit nil, :class => 'btn btn-primary' %>
		  </div>
	</td>

      </tr>
    </div>
     <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_simulacao_produto_path,
            :class => 'btn btn-primary' %>
