<%- model_class = @simulacao_produto.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:preco_compra) %>:</strong></dt>
  <dd><%= @simulacao_produto.preco_compra %></dd>
  <dt><strong><%= model_class.human_attribute_name(:aliquota_icms) %>:</strong></dt>
  <dd><%= @simulacao_produto.aliquota_icms %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ip) %>:</strong></dt>
  <dd><%= @simulacao_produto.ip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:st) %>:</strong></dt>
  <dd><%= @simulacao_produto.st %></dd>
  <dt><strong><%= model_class.human_attribute_name(:outros_custos) %>:</strong></dt>
  <dd><%= @simulacao_produto.outros_custos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:icms) %>:</strong></dt>
  <dd><%= @simulacao_produto.icms %></dd>
  <dt><strong><%= model_class.human_attribute_name(:produto_vpsa_id) %>:</strong></dt>
  <dd><%= @simulacao_produto.produto_vpsa_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:preco_vpsa) %>:</strong></dt>
  <dd><%= @simulacao_produto.preco_vpsa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:preco_calculado) %>:</strong></dt>
  <dd><%= @simulacao_produto.preco_calculado %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              simulacao_produtos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_simulacao_produto_path(@simulacao_produto), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              simulacao_produto_path(@simulacao_produto),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
