<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
<<<<<<< HEAD
  		<h1></h1>
    	<div align='center'>
<p align='center'>
        <%= link_to "Simular", "/simulacao_produtos", :class =>'btn btn-extra-large btn-success botao_redondo', :style=>'color:#FFFFFF; background:#399e02; top:120px'%>
        <%= link_to "Historico", "/simulacao_produtos", :class =>'botao_home',:style=>'color:#FFFFFF; top:120px' %>
<p/><p align ='center'>

          <%= link_to "Simular", "/simulacao_produtos", :class =>'botao_home', :style=>'color:#FFFFFF; top:180px '  %>
      <%= link_to "Historico", "/simulacao_produtos", :class =>'botao_home', :style=>'color:#FFFFFF; top:180px'  %><p/>
=======
  		<h1>d</h1>
    	<div align='center'>
<p align='center'>
        <%= link_to "Simular", "/simulacao_produtos", :class =>'botao_home',  :style=>'color:#FFFFFF;', :height => '100px'%>
        <%= link_to "Historico", "/simulacao_produtos", :class =>'botao_home',:style=>'color:#FFFFFF;' %>
<p/><p align ='center'>

          <%= link_to "Simular", "/simulacao_produtos", :class =>'botao_home', :style=>'color:#FFFFFF; top:60px '  %>
      <%= link_to "Historico", "/simulacao_produtos", :class =>'botao_home', :style=>'color:#FFFFFF; top:60px'  %><p/>
>>>>>>> b217eff0e9389f136a755cb4122f20229466e6b4
    	</div>

  </body>
  </html>


